$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font-family: $font-stack;
  color: $primary-color;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

a { color: #0066cc; }
