<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% block css %}{% endblock css %}
</head>
<body>
  <header>
    <a href="{{ get_url(path="") }}">
      <h1>{{ config.title }}</h1>
    </a>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <p>&copy; {{ now() | date(format="%Y") }} {{ config.title }}</p>
  </footer>
</body>
</html>
