{% extends "base.html" %}

{% block title %}{{ section.title }} — {{ config.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
<ul>
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <span>{{ page.date | date(format="%Y-%m-%d") }}</span>
    {% if page.taxonomies.tags %}
    <small>
      {% for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
      {% endfor %}
    </small>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
